.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.main-nav,
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
.nav-list__link, .header-contacts__link {
  text-decoration: none;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link, .header-contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .header-contacts__link:hover, .nav-list__link:focus, .header-contacts__link:focus {
  color: #2196f3;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.nav-list__link.current, .current.header-contacts__link {
  color: #2196f3;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  text-decoration: none;
  color: #2196f3;
}
.logo__part {
  color: #000000;
}
.logo__part--color-change {
  color: #ffffff;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-optimized.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-optimized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.btn-hero--modified {
  min-width: 216px;
  padding: 10px 32px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantage__item {
  width: calc((100% - 90px) / 4);
}
.advantage__item:not(:last-child) {
  margin-right: 30px;
}
.advantage__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantage__description {
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.our-activities {
  padding-top: 0;
}

.activities-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activity__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  background-color: #f5f4fa;
}

.teammates-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
}

.teammates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.teammates-list__item {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammates-list__item:not(:last-child) {
  margin-right: 30px;
}
.teammates-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.teammates-list__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
}
.teammates-list__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  text-align: center;
  color: #757575;
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.networks-list__item {
  width: 44px;
  height: 44px;
}
.networks-list__item:not(:last-child) {
  margin-right: 10px;
}
.networks-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}
.networks-list__icon {
  fill: currentColor;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.client__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.client__icon {
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project__for-border {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}
.project__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project__type {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
  color: #757575;
}
.project__description {
  position: relative;
  overflow: hidden;
}

.project__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link-1 {
  color: #ffffff;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: #2196f3;
}

.address {
  font-style: normal;
}

.footer-social {
  margin-left: 70px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.networks-list__link--color-change {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.networks-list__link--color-change:hover, .networks-list__link--color-change:focus {
  background-color: #2196F3;
}

.subscribtion {
  margin-left: 93px;
}
.subscribtion__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribtion__icon {
  margin-left: 10px;
  fill: currentColor;
}

.btn--subscription--modified {
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input:hover, .subscription__input:focus {
  outline: none;
  border-color: #2196f3;
}
.subscription__input::-webkit-input-placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  color: #2196F3;
}

.modal__close-icon {
  fill: currentColor;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.form__comment {
  margin-bottom: 20px;
}

.form__label {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: start;
}

.form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__comment-textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input + .form__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__comment-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form__comment-textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment-textarea::-moz-placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment-textarea:-ms-input-placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment-textarea::-ms-input-placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment-textarea::placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input-field {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy {
  margin-bottom: 30px;
}

.policy__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin: 0;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: #757575;
}

.policy__link {
  color: #2196f3;
}

.policy__check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

/* .icon-check {
    border: 2px solid var(--form-checkbox-color);
    border-radius: 2px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
} */
.policy__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__check:checked + .policy__checkbox {
  border: none;
  background-color: #2196f3;
}

.btn-modal--modified {
  width: 200px;
  height: 50px;
}/*# sourceMappingURL=main.css.map */