.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
     ), url(../images/hero-img-optimized.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $banner-background-color;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    width: 696px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;

    @include font(900, 44px, 1.36, 0.06em);
    text-align: center;
    
    text-transform: uppercase;

    color: $banner-text-color;
}

.btn {
    font-family: inherit;
    @include font(700, 16px, 1.88, 0.06em);
    text-align: center;
    
    background-color: $hero-button-color;
    color: $hero-button-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $hero-button-hover-color;
    cursor: pointer;
    }
}

.hero__btn {
    min-width: 216px;
    padding: 10px 32px;
}